.about-container {
    padding: 50px;
    color: #f0f0f0;
  }
  
  .about-title {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .about-subtitle {
    font-size: 2em;
    margin: 40px 0 20px;
  }
  
  .about-text {
    font-size: 1.2em;
    line-height: 1.6;
  }
  .reveal-button {
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #444;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .reveal-button:hover {
    background-color: #555;
  }
  