.intro-container {
    text-align: center;
    padding: 10vh 0;
    color: #f0f0f0;
  }
  
  .intro-title {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .intro-button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .intro-button:hover {
    background-color: #f0f0f0;
  }
  
  .intro-details {
    margin-top: 20px;
  }
  